{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-process-exit": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  },
  "root": true,
  "env": {
    "browser": true
  }
}
